<div style="color:white;">
    <table id="table" class="table table-condensed" style="">
        <thead>
            <tr>
                <th>设备</th>
                <th>预警内容</th>
                <th>预警时间</th>
                <th>专家建议</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.EquipmentName
                    </td>
                    <td>
                        @item.EWarnText
                    </td>
                    <td>
                        @item.StartTime
                    </td>
                    <td>
                        @item.ExpertAdvice
                    </td>
                    @*<td>
                            <button type="button" class="btn btn-warning btn-xs" onclick="window.open('@System.Configuration.ConfigurationManager.AppSettings["psewUrl"]');">查看详情</button>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    setInterval(function () {
        window.location.reload();
    }, 10000);
    var remarkShowLength = 15;
    function changeShowRemarks(obj) {//obj是td
        var content = $(obj).attr("content");
        if (content != null && content != '') {
            if ($(obj).attr("isDetail") == 'true') {//当前显示的是详细备注，切换到显示部分
                //$(obj).removeAttr('isDetail');//remove也可以
                $(obj).attr('isDetail', false);
                $(obj).html(getPartialRemarksHtml(content));
            } else {//当前显示的是部分备注信息，切换到显示全部
                $(obj).attr('isDetail', true);
                $(obj).html(getTotalRemarksHtml(content));
            }
        }
    }
    function getPartialRemarksHtml(remarks) {
        return remarks.substr(0, remarkShowLength) + '&nbsp;&nbsp;<a href="javascript:void(0);" style="color:white;" ><b>...</b></a>';
    }

    //全部备注信息
    function getTotalRemarksHtml(remarks) {
        return remarks + '&nbsp;&nbsp;<a href="javascript:void(0);" style="color:white;" >收起</a>';
    }
    $('#table').DataTable({
        "createdRow": function (row, data, dataIndex) {
            if (data[1].length > remarkShowLength) {//只有超长，才有td点击事件
                $(row).children('td').eq(1).attr('onclick', 'javascript:changeShowRemarks(this);');
            }
            $(row).children('td').eq(1).attr('content', data[1]);
            if (data[3].length > remarkShowLength) {//只有超长，才有td点击事件
                $(row).children('td').eq(3).attr('onclick', 'javascript:changeShowRemarks(this);');
            }
            $(row).children('td').eq(3).attr('content', data[3]);
        },
        "scrollY": "350px",
        "scrollCollapse": "true",
        "columnDefs": [
          {
              "type": "date",
              "targets": 1,
              "render": function (data, type, full, meta) {
                  if (data.length > remarkShowLength) {
                      return getPartialRemarksHtml(data);//显示部分信息
                  } else {
                      return data;//显示原始全部信息 }
                  }
              }
          }, {
              "type": "date",
              "targets": 3,
              "render": function (data, type, full, meta) {
                  if (data.length > remarkShowLength) {
                      return getPartialRemarksHtml(data);//显示部分信息
                  } else {
                      return data;//显示原始全部信息 }
                  }
              }
          }],
        "lengthMenu": [9],
        bLengthChange: false,
        "paging": true,
        //"ordering": false,
        "info": false,
        "filter": false,
        "pagingType": "full_numbers",
        "oLanguage": {
            "sLengthMenu": "每页显示 _MENU_条",
            "sZeroRecords": "没有找到符合条件的数据",
            "sProcessing": "&lt;img src=’./loading.gif’ /&gt;",
            "sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
            "sInfoEmpty": "木有记录",
            "sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
            "sSearch": "搜索：",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "前一页",
                "sNext": "后一页",
                "sLast": "尾页"
            }
        }
    });
    $('#table_first').css("color", "white");
</script>